body {
    background-color: whitesmoke;
}

#landscape {
    width: 950px;
    height: 350px;
    display: block;
    margin: auto;
}

#illustration, #title, #posts, #comments, #addComments, #createPost {
    border: 2px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px black;
}

#title {
    text-align: center;
    font-family: 'Indie Flower';
    font-size: 60px;
}

#button {
    border: 1px solid blanchedalmond;
    border-radius: 3px;
    background-color: cadetblue;
    color: white;
    text-decoration-line: none;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

#button:hover {
    color: black;
    background-color: turquoise;
}

#titleDetail, #postTitle, #posts, #comments, #addComments, #createPost {
    text-align: center;
}

#postTitle {
    background-color: white;
    font-size: 200%;
}

#chapterContent {
    padding-left: 300px;
    padding-right: 300px;
}

.commentButton {
    width: 150px;
    margin: auto;
    display: block;
    text-align: center;
}

#newComment {
    width: 50%;
    height: 150px;
    margin: auto;
    border-radius: 3px;
}

input {
    border-radius: 3px;
}

#newPost_tbl {
    display: inline-block;
}

footer {
    text-align: center;
}

#adminButton {
    text-decoration-line: none;
    color: cadetblue;
}

#adminButton:hover {
    color: turquoise;
}