body {
    background-color: whitesmoke;
}

#landscape {
    width: 950px;
    height: 350px;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#illustration, #title, #posts, #comments, #addComments, #createPost {
    border: 2px solid gray;
    margin: 0 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 15px;
    box-shadow: 2px 2px black;
}

#title {
    text-align: center;
    font-family: 'Indie Flower';
    font-size: 60px;
}

#titleDetail, #postTitle, #posts, #comments, #addComments, #createPost {
    text-align: center;
}

#postTitle {
    background-color: white;
    font-size: 200%;
    border-radius: 5px;
}

#chapterContent {
    padding-left: 300px;
    padding-right: 300px;
}

#newComment {
    width: 50%;
    height: 150px;
    margin: auto;
    border-radius: 3px;
}

input {
    border-radius: 3px;
}

#newPost_tbl {
    display: inline-block;
}
